{% extends 'base.html' %}
{% load static %}
{% block head_title %}Registration{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5 mb-5  card p-4 shadow-lg" style="background-color: white; border-radius: 10px;">
  <h2 class="text-center mb-4" style="color: #343a40; font-size: 28px; font-weight: bold;">Create an Account</h2>
  <p class="text-center mb-4" style="color: #495057; font-size: 16px;">Already have an account? <a href="{% url 'user_login' %}" style="color: #007bff; text-decoration: none; font-weight: 500;">Sign in here</a></p>

  <div class="row">
   
    <div class="col-md-7">
      <!-- Form column -->
      <div >

        <form method="post">
          {% csrf_token %}

          <div class="form-group">
            {{ form.username|as_crispy_field }}
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-md-6 form-group">
              {{ form.last_name|as_crispy_field }}
            </div>
          </div>

          <div class="form-group">
            {{ form.email|as_crispy_field }}
          </div>

          <div class="form-group">
            {{ form.mobile_number|as_crispy_field }}
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              {{ form.gender|as_crispy_field }}
            </div>
            <div class="col-md-6 form-group">
              {{ form.birth_date|as_crispy_field }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              {{ form.city|as_crispy_field }}
            </div>
            <div class="col-md-6 form-group">
              {{ form.country|as_crispy_field }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              {{ form.password1|as_crispy_field }}
            </div>
            <div class="col-md-6 form-group">
              {{ form.password2|as_crispy_field }}
            </div>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary" style="background-color: #6C63FF;">Create Account</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-5 mb-4 " style="margin-top: 100px;" >
      <!-- Image column -->
      <img src="{% static 'regi.png' %}" alt="Registration Image" class="img-fluid">
    </div>
  </div>
</div>

{% endblock %}
