{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="card mx-auto mt-5" style="width: 50%;">
    <div class="card-body p-5 d-flex flex-column align-items-center">
      <form method="post">
        <h2 class="text-center mb-4 text-danger">Are you sure you want to delete?</h2>
        {% csrf_token %}
        {{ form | crispy }}
        <div class="d-flex justify-content-between w-100 mt-4">
          <button type="submit" class="btn btn-danger btn-lg">Delete</button>
          <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">No</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
